{% load staticfiles %}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="download-app_description">
        <h3>{{obj.download_app}}</h3>
        <p>{{obj.download_app_description|safe}}</p>
        <a href="{{ link.playMarket }}"><img src="{% static "assets/img/clients/google-play.png" %}" alt="Google Play button"></a>
        <a href="{{ link.appStore }}"><img src="{% static "assets/img/clients/app-store.png" %}" alt="App Store button"></a>
      </div><!-- /.download-description -->
    </div><!-- /.col-md-12 -->
  </div><!-- /.row -->
  <div class="row">
    <!--  -->
    <div class="col-md-12">
        <div class="clouds">
          <div class="clouds-small_left" data-aos="fade-in" data-aos-delay="100" data-aos-duration="1000">
            <img src="{% static "assets/img/clients/cloud1.png" %}" alt="small cloud">
          </div>
          <div class="clouds-medium_left" data-aos="fade-in" data-aos-delay="500" data-aos-duration="1000">
            <img src="{% static "assets/img/clients/cloud2.png" %}" alt="medium cloud">
          </div>
          <div class="clouds-big_left" data-aos="fade-in" data-aos-delay="1000" data-aos-duration="1000">
            <img src="{% static "assets/img/clients/cloud3.png" %}" alt="big cloud with jeans">
          </div>

          <img src="{% static "assets/img/clients/peoples.png" %}" alt="peoples watch on gadgets" class="peoples-gadgets">

          <div class="clouds-small_right" data-aos="fade-in" data-aos-delay="1100" data-aos-duration="1000">
            <img src="{% static "assets/img/clients/cloud1.png" %}" alt="small cloud">
          </div>
          <div class="clouds-medium_right" data-aos="fade-in" data-aos-delay="1500" data-aos-duration="1000">
            <img src="{% static "assets/img/clients/cloud2.png" %}" alt="medium cloud">
          </div>
          <div class="clouds-big_right" data-aos="fade-in" data-aos-delay="2000" data-aos-duration="1000">
            <img src="{% static "assets/img/clients/cloud4.png" %}" alt="big cloud with sushi">
          </div>
        </div>
      </div><!-- /.col-md-7 -->
    <!--  -->
  </div><!-- /.row -->
</div><!-- /.container -->
