<!DOCTYPE html>
<html lang="en">
	<head>
		{% load static %}
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" href="../../../../favicon.ico">

		<title>Congratulations</title>
		<!-- Reser browser styles -->
		<link href="{% static "assets/css/custom-reset.css" %}" rel="stylesheet">
		<!-- Bootstrap core CSS -->
		<link href="{% static "assets/css/bootstrap-grid.min.css" %}" rel="stylesheet">
		<!-- Custom styles for this template -->
		<link href="{% static "assets/css/sass/registration/congratulations.css" %}" rel="stylesheet">
	</head>
	<body>
		<div class="gradient-wrapper">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="congrat">
							<div class="congrat-title">
								<h1>Congratulations!</h1>
							</div><!-- /.congrat-title -->
							<div class="congrat-info">
								<p>After submitting and verifying the data, we will activate your courier account Pick 2me, and will notify you by e-mail and SMS. If you have any questions or problems, you can always contact our support team by writing to <a href="mailto:pick2me@gmail.com">pick2me@gmail.com</a>.</p>
								<p>Best regards, Pick2me Kyiv</p>
							</div><!-- /.congrat-info -->
							<div class="congrat-btn">
              	<a href="/drivers"><button>Done</button></a>
							</div><!-- /.done-btn -->
						</div><!-- /.congrat -->
					</div><!-- /.col-md-12 -->
				</div><!-- /.row -->
			</div><!-- /.container -->
		</div><!-- /.gradient-wrapper -->




		<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
		<script src="{% static "assets/js/bootstrap.min.js" %}"></script>
		<script src="{% static "assets/js/main.js" %}"></script>
	</body>
</html>
