<!DOCTYPE html>
<html lang="en">
	<head>
		{% load static %}
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" href="../../../../favicon.ico">

		<title>5 step</title>
		<!-- Reser browser styles -->
		<link href="{% static "assets/css/custom-reset.css" %}" rel="stylesheet">
		<!-- Bootstrap core CSS -->
		<link href="{% static "assets/css/bootstrap-grid.min.css" %}" rel="stylesheet">
		<!-- Custom styles for this template -->
		<link href="{% static "assets/css/sass/registration/fifth-step.css" %}" rel="stylesheet">
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="progres-line">
						<hr>
						<ul>
							<li class="active">1<span>Контакты</span></li>
							<li class="active">2<span class="this-page">Персональная информация <br> и способ доставки</span></li>
							<li class="active">3<span class="this-page">Документы</span></li>
							<li class="active">4<span class="this-page">Платежная информация</span></li>
						</ul>
					</div><!-- /.progres-line -->
				</div><!-- /.col-md-12 -->
			</div><!-- /.row -->
			<div class="row">
				<div class="col-md-12">
					<div class="page-title">
						<h1>Информация об оплате</h1>
						<p>Оплата возможна только после предоставления данных оплаты</p>
					</div><!-- /.page-title -->
				</div><!-- /.col-md-12 -->
			</div><!-- /.row -->
			<div class="row">
				<div class="col-md-12">
					<div class="pay-info">
						<form action="/registration/fifth-step" method="post">
							{% csrf_token %}
              <input type="hidden" name="local" value="ru">
							<input type="hidden" name="id" value="{{ id }}">
							<p>Номер карты:</p> <input type="text"  name="card-number" placeholder="XXXX XXXX XXXX XXXX" maxlength="16" required>
							<p>Владелец карты:</p> <input type="text" name="card-holder"placeholder="John Doe" required>
							<span class="field-note">Фамилия и имя владельца карты.</span>
							<br>
							<input type="submit" value="Далее">
						</form>
					</div><!-- /.pay-info -->
				</div><!-- /.col-md-12 -->
			</div><!-- /.row -->
		</div><!-- /.container -->




	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script src="{% static "assets/js/bootstrap.min.js" %}"></script>
	<script src="{% static "assets/js/main.js" %}"></script>
	</body>
</html>
