<!DOCTYPE html>
<html lang="en">
	<head>
		{% load static %}
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" href="../../../../favicon.ico">

		<title>2 step</title>
		<!-- Reser browser styles -->
		<link href="{% static "assets/css/custom-reset.css" %}" rel="stylesheet">
		<!-- Bootstrap core CSS -->
		<link href="{% static "assets/css/bootstrap-grid.min.css" %}" rel="stylesheet">
		<!-- Custom styles for this template -->
		<link href="{% static "assets/css/sass/registration/second-step.css" %}" rel="stylesheet">
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="progres-line">
						<hr>
						<ul>
							<li class="active">1<span>Контакты</span></li>
							<li class="active">2<span class="this-page">Персональная информация <br> и способ доставки</span></li>
							<li>3<span>Документы</span></li>
							<li>4<span>Платежная информация</span></li>
						</ul>
					</div><!-- /.progres-line -->
				</div><!-- /.col-md-12 -->
			</div><!-- /.row -->
			<div class="row">
				<div class="col-md-12">
					<div class="page-title">
						<h1>Персональная информация и способ доставки</h1>
						<p>Во время заказа клиент видит только ваше имя и способ доставки</p>
					</div><!-- /.page-title -->
				</div><!-- /.col-md-12 -->
			</div><!-- /.row -->
			<div class="row">
				<div class="col-md-12">
					<div class="form">
						<form action="/registration/second-step" method="post">
							{% csrf_token %}
							<input type="hidden" name="local" value="ru">
							<input type="hidden" name="id" value="{{ id }}">
							<p>Дата рождения:</p> <input type="text" required placeholder="01-02-1989" name="birth">
							<br>
							<p>Способ доставки:</p> <select name="vehicle" id="">
								<option value="Metro" selected>Метро</option>
								<option value="Bus">Автобус</option>
							</select>
							<span class="field-note">Укажите тип транспорта, на котором вы будете выполнять доставку.</span>
							<br>
							<input type="submit" value="Далее">
						</form>
					</div><!-- /.form -->
				</div><!-- /.col-md-12 -->
			</div><!-- /.row -->
		</div><!-- /.container -->




	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script src="{% static "assets/js/bootstrap.min.js" %}"></script>
	<script src="{% static "assets/js/main.js" %}"></script>
	</body>
</html>
