{% load staticfiles%}
<footer>
    <div class="container">
      <div class="footer-menu">
        <div class="row">
          <div class="col-lg-2 col-md-6 order-lg-1 order-md-1 order-sm-1 order-1">
            <div class="footer-logo">
              <p><a href="{% url logo_url lang=lang %}">Pick2Me</a></p>
            </div>
          </div><!-- /.col-md-3 -->
          <div class="col-lg-3 col-md-4 order-lg-2 order-md-3 order-sm-3 order-3">
            <div class="footer-menu_list">
              <ul>
                <li><a href="">Lorem ipsum</a></li>
                <li><a href="">Lorem ipsum</a></li>
                <li><a href="">Lorem ipsum dolori</a></li>
                <li><a href="">Lorem ipsum</a></li>
                <li><a href="">Lorem ipsum dolori</a></li>
              </ul>
            </div><!-- /.footer-menu_list -->
          </div><!-- /.col-md-2 -->
          <div class="col-lg-2 col-md-4 order-lg-3 order-md-4 order-sm-4 order-4">
            <div class="footer-menu_list center-align">
              <ul>
                <li><a href="">Lorem ipsum</a></li>
                <li><a href="">Lorem ipsum</a></li>
                <li><a href="">Lorem ipsum dolori</a></li>
                <li><a href="">Lorem ipsum</a></li>
                <li><a href="">Lorem ipsum dolori</a></li>
              </ul>
            </div><!-- /.footer-menu_list -->
          </div><!-- /.col-md-2 -->
          <div class="col-lg-3 col-md-4 order-lg-4 order-md-5 order-sm-5 order-5">
            <div class="footer-menu_list">
              <ul class="last-list">
                <li><a href="">Lorem ipsum</a></li>
                <li><a href="">Lorem ipsum</a></li>
                <li><a href="">Lorem ipsum dolori</a></li>
                <li><a href="">Lorem ipsum</a></li>
                <li><a href="">Lorem ipsum dolori</a></li>
              </ul>
            </div><!-- /.footer-menu_list -->
          </div><!-- /.col-md-2 -->
          <div class="col-lg-2 col-md-6 order-lg-5 order-md-2 order-sm-2 order-2">
            <div class="languages footer-languages">
                {% include 'include_/languages.html'%}
            </div>
          </div><!-- /.col-md-3 -->
        </div><!-- /.row -->
      </div><!-- /.footer-menu -->
      <div class="rights">
        <div class="row">
          <div class="col-md-12">
            <div class="regulations">
              <p><a href="/">Terms and conditions</a> <a href="/">Privacy policy</a></p>
            </div>
        </div><!-- /.row -->
      </div><!-- /.rights -->
    </div><!-- /.container -->
  </footer>
