{% load staticfiles %}

<main>
  <div class="row">
    <div class="delivery-bg">
      <img src="{% static 'assets/img/clients/delivery.png' %}" alt="fly box" >
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="main-title">
        <h1>Lorem ipsum dolor sit amet</h1>
        <p>Cras nulla justo, blandit at ligula a, suscipit tincidunt augue. Sed faucibus massa vitae vehicula accumsan. Vestibulum ultricies ipsum eu pretium lacinia. </p>
      </div><!-- /.main-title -->
    </div><!-- /.col-md-12 -->
  </div><!-- /.row -->
  <div class="row" data-aos="fade-up" data-aos-duration="1000">
    <div class="col-lg-7 col-md-5">
      <img src="{% static 'assets/img/clients/food-delivery.png' %}" alt="women chose food" class="online-food">
    </div><!-- /.col-md-7 -->
    <div class="col-lg-5 col-md-7">
      <div class="food-delivery">
        <h2>Lorem ipsum dolor</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pulvinar arcu vel nisl dictum interdum. Cras nulla justo, blandit at ligula a, suscipit tincidunt augue. Sed faucibus massa vitae vehicula accumsan. Vestibulum ultricies ipsum eu pretium lacinia. Integer sem felis, condimentum id condimentum vitae, bibendum in risus. Etiam cursus posuere turpis ut faucibus. <br> <br>
        Nulla placerat mi quis nunc tempor, sit amet egestas augue pulvinar. Pellentesque lacinia pharetra sagittis. Phasellus condimentum, ligula eget cursus semper, nisi urna consequat felis, eu ultrices arcu lacus in lacus. Quisque at ullamcorper nunc. Morbi elementum auctor lacus, non tempor magna tincidunt in. Ut porttitor eu ante non vulputate.</p>
      </div>
    </div><!-- /.col-md-5 -->
  </div><!-- /.row -->
  <div class="track-order" data-aos="fade-up" data-aos-duration="1000">
    <div class="row">
      <div class="col-lg-5 col-md-7 order-lg-1 order-sm-2 order-md-1 order-2">
        <h2>Lorem ipsum dolor</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pulvinar arcu vel nisl dictum interdum. Cras nulla justo, blandit at ligula a, suscipit tincidunt augue. Sed faucibus massa vitae vehicula accumsan. Vestibulum ultricies ipsum eu pretium lacinia. Integer sem felis, condimentum id condimentum vitae, bibendum in risus. Etiam cursus posuere turpis ut faucibus. <br> <br>
        Nulla placerat mi quis nunc tempor, sit amet egestas augue pulvinar. Pellentesque lacinia pharetra sagittis. Phasellus condimentum, ligula eget cursus semper, nisi urna consequat felis, eu ultrices arcu lacus in lacus. Quisque at ullamcorper nunc. Morbi elementum auctor lacus, non tempor magna tincidunt in. Ut porttitor eu ante non vulputate.</p>
      </div><!-- /.col-md-5 -->
      <div class="col-lg-7 col-md-5 order-lg-2 order-sm-1 order-md-2 order-1">
        <img src="{% static 'assets/img/clients/track.png' %}" alt="delivery on map">
      </div><!-- /.col-md-7 -->
    </div><!-- /.row -->
  </div><!-- /.track-order -->
</main>
