{% load staticfiles %}

<div class="mobile-app" data-aos="fade-up" data-aos-duration="1000">
      <div class="row">
        <div class="col-lg-7 col-md-5">
          <img src="{% static 'assets/img/clients/iphone.png' %}" alt="iphone" class="iphone-img">
        </div><!-- /.col-md-7 -->
        <div class="col-lg-5 col-md-7">
          <h2>Lorem ipsum dolor</h2>
          <img src="{% static "assets/img/clients/iphone.png" %}" alt="iphone" class="mob-img">
          <a href="{{ link.playMarket }}" class="mob-img"><img src="{% static "assets/img/clients/google-play.png" %}" alt="Google Play button"></a>
          <a href="{{ link.appStore }}" class="mob-img"><img src="{% static "assets/img/clients/app-store.png" %}" alt="App Store button"></a>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pulvinar arcu vel nisl dictum interdum. Cras nulla justo, blandit at ligula a, suscipit tincidunt augue. Sed faucibus massa vitae vehicula accumsan. Vestibulum ultricies ipsum eu pretium lacinia. Integer sem felis, condimentum id condimentum vitae, bibendum in risus. Etiam cursus posuere turpis ut faucibus. Nulla placerat mi quis nunc tempor, sit amet egestas augue pulvinar. Pellentesque lacinia pharetra sagittis. Phasellus condimentum, ligula eget cursus semper, nisi urna consequat felis, eu ultrices arcu lacus in lacus. Quisque at ullamcorper nunc. Morbi elementum auctor lacus, non tempor magna tincidunt in. Ut porttitor eu ante non vulputate.</p>
          <a href="{{ link.playMarket }}"><img src="{% static "assets/img/clients/google-play.png" %}" alt="Google Play button"></a>
          <a href="{{ link.appStore }}"><img src="{% static "assets/img/clients/app-store.png" %}" alt="App Store button"></a>
        </div><!-- /.col-md-5 -->
      </div><!-- /.row -->
    </div><!-- /.mobile-app -->
    <div class="row">
      <div class="col-md-12">
        <div class="range-title">
          <h3>Lorem ipsum dolor</h3>
        </div>
      </div><!-- /.col-md-12 -->
    </div><!-- /.row -->
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="range-description">
          <img src="{% static "assets/img/clients/medicine.png" %}" alt="pills">
          <h5>Medicine</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pulvinar arcu vel nisl dictum interdum. Cras nulla justo, blandit at ligula a, </p>
        </div><!-- /.range-description -->
      </div><!-- /.col-md-4 -->
      <div class="col-lg-4 col-md-6">
        <div class="range-description">
          <img src="{% static "assets/img/clients/clothes.png" %}" alt="clothes">
          <h5>Clothes</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pulvinar arcu vel nisl dictum interdum. Cras nulla justo, blandit at ligula a, </p>
        </div><!-- /.range-description -->
      </div><!-- /.col-md-4 -->
      <div class="col-lg-4 col-md-6">
        <div class="range-description">
          <img src="{% static "assets/img/clients/food.png" %}" alt="Food box">
          <h5>Food</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pulvinar arcu vel nisl dictum interdum. Cras nulla justo, blandit at ligula a, </p>
        </div><!-- /.range-description -->
      </div><!-- /.col-md-4 -->
      <div class="col-lg-6 col-md-6">
        <div class="dishes-block">
          <img src="{% static "assets/img/clients/dishes.png" %}" alt="dishes">
          <h5>Dishes</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pulvinar arcu vel nisl dictum interdum. Cras nulla justo, blandit at </p>
        </div><!-- /.range-description -->
      </div><!-- /.col-md-6 -->
      <div class="col-lg-6 col-md-12">
        <div class="taxi-block">
          <img src="{% static "assets/img/clients/taxi.png" %}" alt="Taxi">
          <h5>Taxi</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pulvinar arcu vel nisl dictum interdum. Cras nulla justo, blandit at ligula a, </p>
        </div><!-- /.range-description -->
      </div><!-- /.col-md-6 -->
    </div><!-- /.row -->
