{% load staticfiles %}

<div class="download-wrapper">
  <div class="container">
    <section class="download">
      <div class="row">
        <div class="col-md-6">
          <div class="car-phone" data-aos="fade-up" data-aos-duration="1000">
            <img src="{% static "assets/img/drivers/car-phone.png" %}" alt="car on phone">
          </div>
        </div><!-- /.col-md-6 -->
        <div class="col-md-6">
          <div class="download-info">
            <h3>{{obj.download_title|safe}}</h3>
            <p>{{obj.download_description|safe}}</p>
            <i>{{obj.download_p|safe}}</i>
            <a style="margin-left: 25%;" href="registration/first-step"><button>{{obj.button_two|safe}}</button></a>
          </div>
        </div><!-- /.col-md-6 -->
      </div><!-- /.row -->
    </section>
  </div><!-- /.container -->
</div>
