{% load staticfiles %}

<header>
  <div class="row desktop-mob">
    <div class="col-md-2 col-lg-2">
      <div class="logo-text">
      <a href="{% url logo_url lang=lang %}"><img src="{% static 'assets/img/logo-test.png' %}" alt="logo" ></a>
      </div>
    </div><!-- /.col-md-3 -->
    <div class="col-md-3">
      <div class="clients-page">
        <p><a href="{% url clients.url lang=lang %}">{{clients.name}}</a></p>
      </div>
    </div><!-- /.col-md-2 -->
    <div class="col-md-3">
      <div class="drivers-page">
        <p><a href="{% url drivers.url lang=lang %}">{{drivers.name}}</a></p>
      </div>
    </div><!-- /.col-md-3 -->
    <div class="col-md-3">
      <div class="register">
        <p><a href="registration/first-step">Register as driver</a></p>
      </div>
    </div><!-- /.col-md-2 -->
    <div class="col-md-1">
      <div class="languages">
        {% include 'include_/languages.html'%}
      </div>
    </div><!-- /.col-md-4 -->
  </div><!-- /.row -->
  <div class="row mobile">
    <div class="col-6">
      <div class="logo-text">
        <a href="{% url logo_url lang=lang %}"><img src="{% static 'assets/img/logo-test.png' %}" alt="logo" ></a>
      </div>
    </div><!-- /.col-xs-6 -->
    <div class="col-6">
      <div class="burger-menu">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div><!-- /.burger-menu -->
    </div><!-- /.col-xs-6 -->
    <div class="mob-menu_wrapper">
      <div class="mob-menu">
        <div class="mob-menu_close"></div>
        <div class="mob-menu_logo">
          <p>Pick2Me</p>
        </div>
        <div class="mob-menu_nav">
          <ul>
            <li><a href="{% url clients.url lang=lang %}">{{clients.name}}</a></li>
            <li><a href="{% url drivers.url lang=lang %}">{{drivers.name}}</a></li>
            <li><a href="registration/first-step">Register as driver</a></li>
          </ul>
        </div>
        <div class="mob-menu_languages">
          {% include 'include/languages-mobile.html'%}
        </div>
      </div><!-- /.mob-menu -->
    </div><!-- /.mob-menu_wrapper -->
  </div>
</header>
