{% load staticfiles %}
<main>
  <section class="mobile-app">
    <div class="row desktop-mob" data-aos="fade-up" data-aos-duration="1000">
      <div class="col-md-5 col-lg-7">
        <div class="city-taxi">
          <img src="{% static "assets/img/drivers/city-taxi.png" %}" alt="taxi in city">
        </div>
      </div><!-- /.col-md-7 -->
      <div class="col-md-7 col-lg-5">
        <div class="taxi-description">
          <h2>{{obj.taxi_title|safe}}</h2>
          <p>{{obj.taxi_description|safe}} </p>
          <a href="{{ link.appStore }}"><img src="{% static "assets/img/drivers/appstore-black.png" %}" alt="app store icon"></a>
          <a href="{{ link.playMarket }}"><img src="{% static "assets/img/drivers/googleplay-black.png" %}" alt="google play icon"></a>
        </div><!-- /.app-description -->
      </div><!-- /.col-md-5 -->
    </div><!-- /.row -->
    <div class="row mobile" data-aos="fade-up" data-aos-duration="1000">
      <div class="col-md-12">
        <div class="taxi-mob_title">
          <h2>{{obj.taxi_title|safe}}</h2>
        </div>
      </div>
      <div class="col-md-12">
        <div class="city-taxi">
          <img src="{% static "assets/img/drivers/city-taxi.png" %}" alt="taxi in city">
        </div>
      </div>
      <div class="col-md-12">
        <div class="taxi-description">
          <a href="{{ link.appStore }}"><img src="{% static "assets/img/drivers/appstore-black.png" %}" alt="app store icon"></a>
          <a href="{{ link.playMarket }}"><img src="{% static "assets/img/drivers/googleplay-black.png" %}" alt="google play icon"></a>
          <p>{{obj.taxi_description|safe}} </p>
        </div><!-- /.app-description -->
      </div>
    </div><!-- /.row -->
  </section>
  <section class="taxi-app" data-aos="fade-up" data-aos-duration="1000">
    <div class="row">
      <div class="col-md-5 order-md-1 order-sm-2 order-2">
        <div class="app-description">
          <h2>{{obj.taxi_app_title|safe}}</h2>
          <p>{{obj.taxi_app_description|safe}}<br>
          <a href="registration/first-step"><button>Register as driver</button></a>
        </div>
      </div><!-- /.col-md-5 -->
      <div class="col-md-7 order-md-2 order-sm-1 order-1">
        <div class="taxi-app_image">
          <img src="{% static "assets/img/drivers/taxi-app.png" %}" alt="taxi app on mobile">
        </div>
      </div><!-- /.col-md-7 -->
    </div><!-- /.row -->
  </section>
  <section class="conditions">
    <div class="row">
      <div class="col-md-12">
        <div class="title">
          <h3>{{obj.conditions_title|safe}}</h3>
          <p>{{obj.conditions_descriptiom|safe}}</p>
        </div>
      </div>
    </div><!-- /.row -->
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="conditions-block">
          <img src="{% static "assets/img/drivers/calendar.png" %}" alt="the calendar">
          <h5>{{obj.conditions_one_title|safe}}</h5>
          <p>{{obj.conditions_one_description|safe}}</p>
        </div>
      </div><!-- /.col-md-4 -->
      <div class="col-lg-4 col-md-6">
        <div class="conditions-block">
          <img src="{% static "assets/img/drivers/purse.png" %}" alt="purse">
          <h5>{{obj.conditions_two_title|safe}}</h5>
          <p>{{obj.conditions_two_description|safe}} </p>
        </div>
      </div><!-- /.col-md-4 -->
      <div class="col-lg-4">
        <div class="conditions-block">
          <img src="{% static "assets/img/drivers/map.png" %}" alt="map">
          <h5>{{obj.conditions_three_title|safe}}</h5>
          <p>{{obj.conditions_three_description|safe}}</p>
        </div>
      </div><!-- /.col-md-4 -->
    </div><!-- /.row -->
  </section>
  <section class="manual" data-aos="fade-up" data-aos-duration="1000">
    <div class="row">
      <div class="manual-title">
        <h3>{{obj.step_title|safe}}</h3>
      </div>
    </div>
    <div class="row desktop" >
      <div class="col-md-4">
        <div class="manual-steps">
          <h4>{{obj.step_one_title|safe}}</h4>
          <p>{{obj.step_one_description|safe}}</p>
          <img src="{% static "assets/img/drivers/tutorial-1.png" %}" alt="mobile with map">
        </div><!-- /.manual-steps -->
      </div><!-- /.col-md-4 -->
      <div class="col-md-4">
        <div class="manual-steps">
          <h4>{{obj.step_two_title|safe}}</h4>
          <p>{{obj.step_two_description|safe}}</p>
          <img src="{% static "assets/img/drivers/tutorial-2.png" %}" alt="mobile with map">
        </div><!-- /.manual-steps -->
      </div><!-- /.col-md-4 -->
      <div class="col-md-4">
        <div class="manual-steps">
          <h4>{{obj.step_three_title|safe}}</h4>
          <p>{{obj.step_three_description|safe}}</p>
          <img src="{% static "assets/img/drivers/tutorial-3.png" %}" alt="mobile with map">
        </div><!-- /.manual-steps -->
      </div><!-- /.col-md-4 -->
    </div><!-- /.row -->
    <div class="row ">
        <div class="mobile-slider">
          <div class="directions-block">
            <div class="manual-steps_mobile">
              <h4>  {{obj.step_one_title|safe}}</h4>
              <p>{{obj.step_one_description|safe}}</p>
              <img src="{% static "assets/img/drivers/tutorial-1.png" %}" alt="mobile with map">
            </div><!-- /.manual-steps -->
            <div class="manual-steps_mobile">
              <h4>{{obj.step_two_title|safe}}</h4>
              <p>{{obj.step_two_description|safe}}</p>
              <img src="{% static "assets/img/drivers/tutorial-2.png" %}" alt="mobile with map">
            </div><!-- /.manual-steps -->
            <div class="manual-steps_mobile">
              <h4>{{obj.step_three_title|safe}}</h4>
              <p>{{obj.step_three_description|safe}}</p>
              <img src="{% static "assets/img/drivers/tutorial-3.png" %}" alt="mobile with map">
            </div><!-- /.manual-steps -->
          </div><!-- /.directions-block -->
        </div><!-- /.mobile-slider -->
    </div><!-- /.row -->
  </section>
</main>
