{% load staticfiles %}
<div class="container">
  <div class="support">
    <div class="row">
      <div class="col-md-12">
        <div class="support-title">
          <h3>Lorem ipsum dolor</h3>
          <p>Lorem ipsum dolor</p>
        </div>
      </div><!-- /.col-md-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="support-blocks">
          <img src="{% static "assets/img/drivers/headphones.png" %}" alt="headphones">
          <h6>Lorem ipsum dolor</h6>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pulvinar arcu vel nisl dictum interdum. Cras nulla justo, blandit at ligula a, suscipit tincidunt augue. </p>
        </div><!-- /.support-blocks -->
      </div><!-- /.col-md-4 -->
      <div class="col-lg-4 col-md-6">
        <div class="support-blocks">
          <img src="{% static "assets/img/drivers/monitor.png" %}" alt="monitor">
          <h6>Lorem ipsum dolor</h6>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pulvinar arcu vel nisl dictum interdum. Cras nulla justo, blandit at ligula a, suscipit tincidunt augue. </p>
        </div><!-- /.support-blocks -->
      </div><!-- /.col-md-4 -->
      <div class="col-lg-4">
        <div class="support-blocks">
          <img src="{% static "assets/img/drivers/protection.png" %}" alt="protection shild">
          <h6>Lorem ipsum dolor</h6>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pulvinar arcu vel nisl dictum interdum. Cras nulla justo, blandit at ligula a, suscipit tincidunt augue. </p>
        </div><!-- /.support-blocks -->
      </div><!-- /.col-md-4 -->
    </div><!-- /.row -->
  </div><!-- /.support -->
</div><!-- /.container -->
