{% extends 'base.html' %}
{% load staticfiles %}

{% block ext_style%}
  <link href="{% static 'assets/css/sass/clients.css' %}" rel="stylesheet">
  <link href="{% static 'assets/css/sass/clients-media.css' %}" rel="stylesheet">
{% endblock %}

{% block content%}

<div class="header-background-color">
  <div class="container ">
    {% include 'include_/clients/header.html'%}
  </div>
</div>

<div class="main-wrapper">
  <div class="container">
    {% include 'include_/clients/main-wrapper.html'%}
  </div>
</div>


<div class="container">
    {% include 'include_/clients/mobile-wrapper.html'%}
</div>
<div class="download-app">
    {% include 'include_/clients/download-app.html' %}
</div>

<div class="container">
    {% include 'include_/clients/about-service.html' %}
</div>

{% include 'include_/footer.html' %}

{% endblock%}

{% block ext_script%}
    {{block.super}}
{% endblock %}
