{% extends 'base.html' %}
{% load staticfiles %}

{% block ext_style%}
  <link href="{% static 'assets/css/sass/clients.css' %}" rel="stylesheet">
  <link href="{% static 'assets/css/sass/clients-media.css' %}" rel="stylesheet">
{% endblock %}

{% block content%}

<div class="container">
  {% include 'include/header.html'%}
</div>

<div class="main-wrapper">
  <div class="container">
    {% include 'include/main-wrapper.html'%}
  </div>
</div>


<div class="container">
    {% include 'include/mobile-wrapper.html'%}
</div>
<div class="download-app">
    {% include 'include/download-app.html' %}
</div>

<div class="container">
    {% include 'include/about-service.html' %}
</div>

{% include 'include/footer.html' %}


{% endblock%}
