<!DOCTYPE html>
<html lang="en" dir="rtl">
	<head>
		{% load static %}
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" href="../../../../favicon.ico">

		<title>Pick2Me</title>
		<!-- Reser browser styles -->
		<link href="{% static "assets/css/custom-reset.css" %}" rel="stylesheet">
		<!-- Bootstrap core CSS -->
		<link href="{% static "assets/css/bootstrap-grid.min.css" %}" rel="stylesheet">
		<!-- Animate -->
		<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css">
		<!-- Custom styles for this template -->
		<link href="{% static "assets/css/sass/clients-rtl.css" %}" rel="stylesheet">
		<link href="{% static "assets/css/sass/clients-media-rtl.css" %}" rel="stylesheet">
		<!-- Slider -->
		<link href="{% static "assets/slick/slick.css" %}" rel="stylesheet">
		<link href="{% static "assets/slick/slick-theme.css" %}" rel="stylesheet">
	</head>
	<body>
		<div class="container">
			<header>
				<div class="row desktop-mob_header">
					<div class="col-md-4 col-lg-2">
						<div class="logo-text">
							<p><a href="clients-rtl">Pick2Me</a></p>
						</div>
					</div><!-- /.col-md-3 -->
					<div class="col-md-3">
						<div class="clients-page">
							<p><a href="clients-rtl">For clients</a></p>
						</div>
					</div><!-- /.col-md-2 -->
					<div class="col-md-3">
						<div class="drivers-page">
							<p><a href="drivers-rtl">For drivers</a></p>
						</div>
					</div><!-- /.col-md-3 -->
					<div class="col-md-2 col-lg-4">
						<div class="languages">
							<div class="languages-select"><p>Languages<span></span></p></div>
							<div class="languages-content">
								<ul>
									<li><a href="clients-ru">Русский</a></li>
									<li><a href="clients">English</a></li>
								</ul>
							</div>
						</div>
					</div><!-- /.col-md-4 -->
				</div><!-- /.row -->
				<div class="row mobile">
					<div class="col-6">
						<div class="logo-text">
							<p><a href="clients-rtl">Pick2Me</a></p>
						</div>
					</div><!-- /.col-xs-6 -->
					<div class="col-6">
						<div class="burger-menu">
							<div class="line"></div>
							<div class="line"></div>
							<div class="line"></div>
						</div><!-- /.burger-menu -->
					</div><!-- /.col-xs-6 -->
					<div class="mob-menu_wrapper">
						<div class="mob-menu">
							<div class="mob-menu_close"></div>
							<div class="mob-menu_logo">
								<p>Pick2Me</p>
							</div>
							<div class="mob-menu_nav">
								<ul>
									<li><a href="clients-rtl">For clients</a></li>
									<li><a href="drivers-rtl">For drivers</a></li>
								</ul>
							</div>
							<div class="mob-menu_languages">
								<div class="languages-select_mob"><p>Languages<span></span></p></div>
								<div class="languages-content_mob">
									<ul>
										<li><a href="clients-ru">Русский</a></li>
										<li><a href="clients">English</a></li>
									</ul>
								</div>
							</div>
						</div><!-- /.mob-menu -->
					</div><!-- /.mob-menu_wrapper -->
				</div>
			</header>
		</div><!-- /.container -->
		<div class="main-wrapper">
			<div class="container">
				<main>
					<div class="row">
						<div class="delivery-bg">
							<img src="{% static "assets/img/clients/delivery-rtl.png" %}" alt="fly box">
						</div><!-- /.delivery-bg -->
					</div><!-- /.row -->
					<div class="row">
						<div class="col-md-12">
							<div class="main-title">
								<h1>Lorem ipsum dolor sit amet</h1>
								<p>Cras nulla justo, blandit at ligula a, suscipit tincidunt augue. Sed faucibus massa vitae vehicula accumsan. Vestibulum ultricies ipsum eu pretium lacinia. </p>
							</div><!-- /.main-title -->
						</div><!-- /.col-md-12 -->
					</div><!-- /.row -->
					<div class="row" data-aos="fade-up" data-aos-duration="1000">
						<div class="col-lg-7 col-md-5">
							<img src="{% static "assets/img/clients/food-delivery.png" %}" alt="women chose food" class="online-food">
						</div><!-- /.col-md-7 -->
						<div class="col-lg-5 col-md-7">
							<div class="food-delivery">
								<h2>Lorem ipsum dolor</h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pulvinar arcu vel nisl dictum interdum. Cras nulla justo, blandit at ligula a, suscipit tincidunt augue. Sed faucibus massa vitae vehicula accumsan. Vestibulum ultricies ipsum eu pretium lacinia. Integer sem felis, condimentum id condimentum vitae, bibendum in risus. Etiam cursus posuere turpis ut faucibus. <br> <br>
								Nulla placerat mi quis nunc tempor, sit amet egestas augue pulvinar. Pellentesque lacinia pharetra sagittis. Phasellus condimentum, ligula eget cursus semper, nisi urna consequat felis, eu ultrices arcu lacus in lacus. Quisque at ullamcorper nunc. Morbi elementum auctor lacus, non tempor magna tincidunt in. Ut porttitor eu ante non vulputate.</p>
							</div>
						</div><!-- /.col-md-5 -->
					</div><!-- /.row -->
					<div class="track-order" data-aos="fade-up" data-aos-duration="1000">
						<div class="row">
							<div class="col-lg-5 col-md-7 order-lg-1 order-sm-2 order-md-1 order-2">
								<h2>Lorem ipsum dolor</h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pulvinar arcu vel nisl dictum interdum. Cras nulla justo, blandit at ligula a, suscipit tincidunt augue. Sed faucibus massa vitae vehicula accumsan. Vestibulum ultricies ipsum eu pretium lacinia. Integer sem felis, condimentum id condimentum vitae, bibendum in risus. Etiam cursus posuere turpis ut faucibus. <br> <br>
								Nulla placerat mi quis nunc tempor, sit amet egestas augue pulvinar. Pellentesque lacinia pharetra sagittis. Phasellus condimentum, ligula eget cursus semper, nisi urna consequat felis, eu ultrices arcu lacus in lacus. Quisque at ullamcorper nunc. Morbi elementum auctor lacus, non tempor magna tincidunt in. Ut porttitor eu ante non vulputate.</p>
							</div><!-- /.col-md-5 -->
							<div class="col-lg-7 col-md-5 order-lg-2 order-sm-1 order-md-2 order-1">
								<img src="{% static "assets/img/clients/track.png" %}" alt="delivery on map">
							</div><!-- /.col-md-7 -->
						</div><!-- /.row -->
					</div><!-- /.track-order -->
				</main>
			</div><!-- /.container -->
		</div><!-- /.main-wrapper -->
		<div class="container">
			<div class="mobile-app" data-aos="fade-up" data-aos-duration="1000">
						<div class="row">
							<div class="col-lg-7 col-md-5">
								<img src="{% static "assets/img/clients/iphone.png" %}" alt="iphone" class="iphone-img">
							</div><!-- /.col-md-7 -->
							<div class="col-lg-5 col-md-7">
								<h2>Lorem ipsum dolor</h2>
								<img src="{% static "assets/img/clients/iphone.png" %}" alt="iphone" class="mob-img">
								<a href="{{ link.playMarket }}" class="mob-img"><img src="{% static "assets/img/clients/google-play.png" %}" alt="Google Play button"></a>
								<a href="{{ link.appStore }}" class="mob-img"><img src="{% static "assets/img/clients/app-store.png" %}" alt="App Store button"></a>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pulvinar arcu vel nisl dictum interdum. Cras nulla justo, blandit at ligula a, suscipit tincidunt augue. Sed faucibus massa vitae vehicula accumsan. Vestibulum ultricies ipsum eu pretium lacinia. Integer sem felis, condimentum id condimentum vitae, bibendum in risus. Etiam cursus posuere turpis ut faucibus. Nulla placerat mi quis nunc tempor, sit amet egestas augue pulvinar. Pellentesque lacinia pharetra sagittis. Phasellus condimentum, ligula eget cursus semper, nisi urna consequat felis, eu ultrices arcu lacus in lacus. Quisque at ullamcorper nunc. Morbi elementum auctor lacus, non tempor magna tincidunt in. Ut porttitor eu ante non vulputate.</p>
								<a href="{{ link.playMarket }}"><img src="{% static "assets/img/clients/google-play.png" %}" alt="Google Play button"></a>
								<a href="{{ link.appStore }}"><img src="{% static "assets/img/clients/app-store.png" %}" alt="App Store button"></a>
							</div><!-- /.col-md-5 -->
						</div><!-- /.row -->
					</div><!-- /.mobile-app -->
					<div class="row">
						<div class="col-md-12">
							<div class="range-title">
								<h3>Lorem ipsum dolor</h3>
							</div>
						</div><!-- /.col-md-12 -->
					</div><!-- /.row -->
					<div class="row">
						<div class="col-lg-4 col-md-6">
							<div class="range-description">
								<img src="{% static "assets/img/clients/medicine.png" %}" alt="pills">
								<h5>Medicine</h5>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pulvinar arcu vel nisl dictum interdum. Cras nulla justo, blandit at ligula a, </p>
							</div><!-- /.range-description -->
						</div><!-- /.col-md-4 -->
						<div class="col-lg-4 col-md-6">
							<div class="range-description">
								<img src="{% static "assets/img/clients/clothes.png" %}" alt="clothes">
								<h5>Clothes</h5>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pulvinar arcu vel nisl dictum interdum. Cras nulla justo, blandit at ligula a, </p>
							</div><!-- /.range-description -->
						</div><!-- /.col-md-4 -->
						<div class="col-lg-4 col-md-6">
							<div class="range-description">
								<img src="{% static "assets/img/clients/food.png" %}" alt="Food box">
								<h5>Food</h5>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pulvinar arcu vel nisl dictum interdum. Cras nulla justo, blandit at ligula a, </p>
							</div><!-- /.range-description -->
						</div><!-- /.col-md-4 -->
						<div class="col-lg-6 col-md-6">
							<div class="dishes-block">
								<img src="{% static "assets/img/clients/dishes.png" %}" alt="dishes">
								<h5>Dishes</h5>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pulvinar arcu vel nisl dictum interdum. Cras nulla justo, blandit at </p>
							</div><!-- /.range-description -->
						</div><!-- /.col-md-6 -->
						<div class="col-lg-6 col-md-12">
							<div class="taxi-block">
								<img src="{% static "assets/img/clients/taxi.png" %}" alt="Taxi">
								<h5>Taxi</h5>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pulvinar arcu vel nisl dictum interdum. Cras nulla justo, blandit at ligula a, </p>
							</div><!-- /.range-description -->
						</div><!-- /.col-md-6 -->
					</div><!-- /.row -->
		</div><!-- /.container -->
		<div class="download-app">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="download-app_description">
							<h3>Lorem ipsum dolor</h3>
							<p>Lorem ipsum dolor Lorem ipsum dolor</p>
							<a href="{{ link.playMarket }}"><img src="{% static "assets/img/clients/google-play.png" %}" alt="Google Play button"></a>
							<a href="{{ link.appStore }}"><img src="{% static "assets/img/clients/app-store.png" %}" alt="App Store button"></a>
						</div><!-- /.download-description -->
					</div><!-- /.col-md-12 -->
				</div><!-- /.row -->
				<div class="row">
					<!--  -->
					<div class="col-md-12">
							<div class="clouds">
								<div class="clouds-small_left" data-aos="fade-in" data-aos-delay="100" data-aos-duration="1000">
									<img src="{% static "assets/img/clients/cloud1.png" %}" alt="small cloud">
								</div>
								<div class="clouds-medium_left" data-aos="fade-in" data-aos-delay="500" data-aos-duration="1000">
									<img src="{% static "assets/img/clients/cloud2.png" %}" alt="medium cloud">
								</div>
								<div class="clouds-big_left" data-aos="fade-in" data-aos-delay="1000" data-aos-duration="1000">
									<img src="{% static "assets/img/clients/cloud3.png" %}" alt="big cloud with jeans">
								</div>

								<img src="{% static "assets/img/clients/peoples.png" %}" alt="peoples watch on gadgets" class="peoples-gadgets">

								<div class="clouds-small_right" data-aos="fade-in" data-aos-delay="1100" data-aos-duration="1000">
									<img src="{% static "assets/img/clients/cloud1.png" %}" alt="small cloud">
								</div>
								<div class="clouds-medium_right" data-aos="fade-in" data-aos-delay="1500" data-aos-duration="1000">
									<img src="{% static "assets/img/clients/cloud2.png" %}" alt="medium cloud">
								</div>
								<div class="clouds-big_right" data-aos="fade-in" data-aos-delay="2000" data-aos-duration="1000">
									<img src="{% static "assets/img/clients/cloud4.png" %}" alt="big cloud with sushi">
								</div>
							</div>
						</div><!-- /.col-md-7 -->
					<!--  -->
				</div><!-- /.row -->
			</div><!-- /.container -->
		</div><!-- /.download-app -->
		<div class="container">
			<div class="about-servise desktop-mob">
				<div class="row" data-aos="fade-up" data-aos-duration="1000">
					<div class="col-lg-6">
						<div class="about-servise_block">
							<img src="{% static "assets/img/clients/hourglass.png" %}" alt="Blue Hourglass">
							<h6>Delivery within 1 hour</h6>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pulvinar arcu vel nisl dictum interdum. Cras nulla justo, blandit at ligula a, suscipit tincidunt augue. </p>
						</div><!-- /.about-servise_block -->
					</div><!-- /.col-lg-6 -->
					<div class="col-lg-6">
						<div class="about-servise_block">
							<img src="{% static "assets/img/clients/watch.png" %}" alt="Blue Watch" class="watch">
							<h6>Save your time</h6>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pulvinar arcu vel nisl dictum interdum. Cras nulla justo, blandit at ligula a, suscipit tincidunt. </p>
						</div><!-- /.about-servise_block -->
					</div><!-- /.col-lg-6 -->
				</div><!-- /.row -->
				<div class="row" data-aos="fade-up" data-aos-duration="1000">
					<div class="col-lg-6">
						<div class="about-servise_block">
							<img src="{% static "assets/img/clients/cash.png" %}" alt="Hand give cash">
							<h6>Pay on delivery</h6>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pulvinar arcu vel nisl dictum interdum. Cras nulla justo, blandit at ligula a, suscipit tincidunt augue. </p>
						</div><!-- /.about-servise_block -->
					</div><!-- /.col-lg-6 -->
					<div class="col-lg-6">
						<div class="about-servise_block">
							<img src="{% static "assets/img/clients/heart.png" %}" alt="Hand click on heart" class="watch">
							<h6>User-friendly interface</h6>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pulvinar arcu vel nisl dictum interdum. Cras nulla justo, blandit at ligula a, suscipit tincidunt. </p>
						</div><!-- /.about-servise_block -->
					</div><!-- /.col-lg-6 -->
				</div><!-- /.row -->
				<div class="row" data-aos="fade-up" data-aos-duration="1000">
					<div class="col-lg-6">
						<div class="about-servise_block">
							<img src="{% static "assets/img/clients/qr.png" %}" alt="Qr code on smartphone">
							<h6>Stock availability check</h6>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pulvinar arcu vel nisl dictum interdum. Cras nulla justo, blandit at ligula a, suscipit tincidunt augue. </p>
						</div><!-- /.about-servise_block -->
					</div><!-- /.col-lg-6 -->
					<div class="col-lg-6">
						<div class="about-servise_block">
							<img src="{% static "assets/img/clients/truck.png" %}" alt="Truck delivery" class="watch-last">
							<h6>Scheduled delivery</h6>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pulvinar arcu vel nisl dictum interdum. Cras nulla justo, blandit at ligula a, suscipit tincidunt. </p>
						</div><!-- /.about-servise_block -->
					</div><!-- /.col-lg-6 -->
				</div><!-- /.row -->
			</div><!-- /.about-servise -->
			<div class="row">
				<div class="mobile-slider">
					<div class="directions-block">
						<div class="first-slide">
							<div class="about-servise_block">
							<img src="{% static "assets/img/clients/hourglass.png" %}" alt="Blue Hourglass">
							<h6>Delivery within 1 hour</h6>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pulvinar arcu vel nisl dictum interdum. Cras nulla justo, blandit at ligula a, suscipit tincidunt augue. </p>
							</div><!-- /.about-servise_block -->
							<div class="about-servise_block">
							<img src="{% static "assets/img/clients/watch.png" %}" alt="Blue Watch" class="watch">
							<h6>Save your time</h6>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pulvinar arcu vel nisl dictum interdum. Cras nulla justo, blandit at ligula a, suscipit tincidunt. </p>
							</div><!-- /.about-servise_block -->
							<div class="about-servise_block">
							<img src="{% static "assets/img/clients/cash.png" %}" alt="Hand give cash">
							<h6>Pay on delivery</h6>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pulvinar arcu vel nisl dictum interdum. Cras nulla justo, blandit at ligula a, suscipit tincidunt augue. </p>
							</div><!-- /.about-servise_block -->
						</div><!-- /.first-slide -->
						<div class="second-slide">
							<div class="about-servise_block">
							<img src="{% static "assets/img/clients/heart.png" %}" alt="Hand click on heart" class="watch">
							<h6>User-friendly interface</h6>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pulvinar arcu vel nisl dictum interdum. Cras nulla justo, blandit at ligula a, suscipit tincidunt. </p>
							</div><!-- /.about-servise_block -->
							<div class="about-servise_block">
							<img src="{% static "assets/img/clients/qr.png" %}" alt="Qr code on smartphone">
							<h6>Stock availability check</h6>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pulvinar arcu vel nisl dictum interdum. Cras nulla justo, blandit at ligula a, suscipit tincidunt augue. </p>
							</div><!-- /.about-servise_block -->
							<div class="about-servise_block">
							<img src="{% static "assets/img/clients/truck.png" %}" alt="Truck delivery" class="watch-last">
							<h6>Scheduled delivery</h6>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pulvinar arcu vel nisl dictum interdum. Cras nulla justo, blandit at ligula a, suscipit tincidunt. </p>
							</div><!-- /.about-servise_block -->
						</div><!-- /.second-slide -->
					</div><!-- /.directions-block -->
				</div><!-- /.mobile-slider -->
			</div>
		</div><!-- /.container -->
		<footer>
				<div class="container">
					<div class="footer-menu">
						<div class="row">
							<div class="col-lg-2 col-md-6 order-lg-1 order-md-1 order-sm-1 order-1">
								<div class="footer-logo">
									<p><a href="#">Pick2Me</a></p>
								</div>
							</div><!-- /.col-md-3 -->
							<div class="col-lg-3 col-md-4 order-lg-2 order-md-3 order-sm-3 order-3">
								<div class="footer-menu_list">
									<ul>
										<li><a href="">Lorem ipsum</a></li>
										<li><a href="">Lorem ipsum</a></li>
										<li><a href="">Lorem ipsum dolori</a></li>
										<li><a href="">Lorem ipsum</a></li>
										<li><a href="">Lorem ipsum dolori</a></li>
									</ul>
								</div><!-- /.footer-menu_list -->
							</div><!-- /.col-md-2 -->
							<div class="col-lg-2 col-md-4 order-lg-3 order-md-4 order-sm-4 order-4">
								<div class="footer-menu_list center-align">
									<ul>
										<li><a href="">Lorem ipsum</a></li>
										<li><a href="">Lorem ipsum</a></li>
										<li><a href="">Lorem ipsum dolori</a></li>
										<li><a href="">Lorem ipsum</a></li>
										<li><a href="">Lorem ipsum dolori</a></li>
									</ul>
								</div><!-- /.footer-menu_list -->
							</div><!-- /.col-md-2 -->
							<div class="col-lg-3 col-md-4 order-lg-4 order-md-5 order-sm-5 order-5">
								<div class="footer-menu_list">
									<ul class="last-list">
										<li><a href="">Lorem ipsum</a></li>
										<li><a href="">Lorem ipsum</a></li>
										<li><a href="">Lorem ipsum dolori</a></li>
										<li><a href="">Lorem ipsum</a></li>
										<li><a href="">Lorem ipsum dolori</a></li>
									</ul>
								</div><!-- /.footer-menu_list -->
							</div><!-- /.col-md-2 -->
							<div class="col-lg-2 col-md-6 order-lg-5 order-md-2 order-sm-2 order-2">
								<div class="languages footer-languages">
									<div class="languages-select"><p>Languages<span></span></p></div>
									<div class="languages-content">
										<ul>
											<li><a href="clients-ru">Русский</a></li>
											<li><a href="clients.html">English</a></li>
										</ul>
									</div>
								</div>
							</div><!-- /.col-md-3 -->
						</div><!-- /.row -->
					</div><!-- /.footer-menu -->
					<div class="rights">
						<div class="row">
							<div class="col-md-12">
								<div class="regulations">
									<p><a href="">Terms and conditions</a> <a href="">Privacy policy</a></p>
								</div>
						</div><!-- /.row -->
					</div><!-- /.rights -->
				</div><!-- /.container -->
			</footer>



	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script src="{% static "assets/js/bootstrap.min.js" %}"></script>
	<script src="{% static "assets/js/main.js" %}"></script>
	<script src="{% static "assets/slick/slick.js" %}"></script>
	<script>
		$('.directions-block').slick({
				arrows: false,
				rtl: true,
				dots: true,
  				infinite: false,
  				slidesToShow: 1,
  				slidesToScroll: 1
  		});
	</script>
	<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
		<script>
    		AOS.init();
    	</script>
	</body>
</html>
